[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	pager = less -X -F
[color]
	ui = true
	diff = true
	status = true
	interactive = true
[push]
	default = simple
[alias]
	st = status
	cp = cherry-pick
	cm = commit
	br = branch
	dt = "!f(){ git tag -d ${1} && git push origin :refs/tags/${1}; };f"
	co = checkout
	cbb = "!f(){ git checkout -b \"limianwang/$1\"; };f"
	cob = checkout -b
	lol = log --pretty=format:'%Cred%h%Creset - %C(cyan)%ad%Creset |%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue[%an]%Creset' --abbrev-commit --decorate --date=short
	lot = log --graph --oneline --all
	lg = log --format=format:'%C(bold cyan)%ar %C(reset) %C(green)%f %C(reset) %C(blue)(%an)' --name-status
	lot = log --graph --oneline --all
	clear = remote prune origin
	who = shortlog -s -n --no-merges
	sqsh = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; };f"
	hdiff = whatchanged -p --abbrev-commit --pretty=medium
	cmp = diff develop
	lb = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
[pull]
	rebase = true
[branch]
	autosetuprebase = always
[http "https://gopkg.in"]
	followRedirects = true
[url "git@github.com"]
	insteadOf = https://github.com/
